@{
    ViewData["Title"] = "Контакти";
}
<h1 class="text-center">КОНТАКТИ</h1>

<div class="text-center">
    <p>Имаш въпрос или нужда от съвет относно продукт? Пиши ни. Ще ти отговорим до 48 часа.</p>
    <strong>Здравей! Свържи се с нас.</strong>

</div>
<div class="section-contacts-info">
    <div class="flex-row">
       
        <div class="flex-box">
            <div class="contacts-info">
                <div class="circle circle-2">
                    <img src="https://biotrade.bg/wp-content/uploads/2022/09/icons-37-x-37-px-2-for-export_phone.svg" alt="icon">
                </div>
                <h4>Обади ни се</h4>
                <p class="description-content">02 896 44 27; +359875533008</p>
                <span class="sub-content">Понеделник - Петък 9:30 - 17:30</span>
            </div>
        </div>

        <div class="flex-box">
            <div class="contacts-info">
                <div class="circle circle-3">
                    <img src="https://biotrade.bg/wp-content/uploads/2022/09/icons-37-x-37-px-2-for-export_e-mail.svg" alt="icon">
                </div>
                <h4>Пиши ни</h4>
                <p class="description-content">Info@beautyfromnature.bg</p>
                <span class="sub-content">Ще се постараем да отговорим до 48 ч.</span>
            </div>
        </div>

        <div class="flex-box">
            <div class="contacts-info">
                <div class="circle circle-4">
                    <img src="https://biotrade.bg/wp-content/uploads/2022/09/icons-37-x-37-px-2-for-export_contacts.svg" alt="icon">
                </div>
                <h4>Контакт длъжностното лице</h4>
                <p class="description-content">privacy@beautyfromnature.bg</p>
                <span class="sub-content"></span>
            </div>
        </div>
    </div>
</div>
