@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Промяна на паролата";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<br />
<h4 class="text-secondary">@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <div class="form-floating col-md-10">
                    <input asp-for="Input.OldPassword" class="form-control" id="floatingPassword" placeholder="Стара парола">
                    <label asp-validation-for="Input.OldPassword" for="floatingPassword">Стара парола</label>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="form-floating col-md-10">
                    <input asp-for="Input.NewPassword" class="form-control" id="floatingPassword" placeholder="Нова парола">
                    <label asp-validation-for="Input.NewPassword" for="floatingPassword">Нова парола</label>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="form-floating col-md-10">
                    <input asp-for="Input.ConfirmPassword" class="form-control" id="floatingPassword" placeholder="Потвърди новата парола">
                    <label asp-validation-for="Input.ConfirmPassword" for="floatingPassword">Потвърди новата парола</label>
                </div>
            </div>
            <br />

            <button type="submit" class="btn btn-outline-secondary col-md-10">Актуализирай паролата</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}